i {
 font-size: 30px;
  margin-top: 16px !important;
  vertical-align: center;
  cursor: pointer;
  span {
    font-size: 20px !important;
    vertical-align: middle !important;
    margin-left: 20px;
  }
}
