/* Basic styles */
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px; /* Adjust the gap between links */
}

.nav-links a {
  color: #333; /* Link text color */
  font-size: 24px;
  text-decoration: underline;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.nav-links a:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}


/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the container to full viewport height */
}

/* Image styles */
.container img {
  margin-bottom: 20px; /* Add some space between the image and links */
  width: 100vh;
  height: 60vh;
}
